.ball
  width 0
  height: 0
  position absolute
  bottom 0px
  left 0px

  &:after
    content: ''
    width: 0
    position: absolute;
    border 9px solid #444
    border-radius 9px
    top -9px
    left -9px
